In [1]:
import json
import pandas as pd
from pprint import pprint

In [2]:
# Load raw JSON events
with open("../data/raw/events.json", "r") as f:
    events = json.load(f)

type(events), len(events)

(list, 6)

In [3]:
# Look at the first event
pprint(events[0])

{'anonymousId': 'anon_123',
 'context': {'device': {'type': 'mobile'}},
 'timestamp': '2024-01-01T09:00:00Z',
 'traits': {'email': 'user1@example.com', 'plan': 'free'},
 'type': 'identify',
 'userId': 'user_001'}

In [4]:
# Keys present in one event
events[0].keys()

dict_keys(['type', 'userId', 'anonymousId', 'timestamp', 'traits', 'context'])

In [5]:
df = pd.json_normalize(events)
df.head()

,type,userId,anonymousId,timestamp,traits.email,traits.plan,context.device.type,event,properties.method,properties.feature_name
0,identify,user_001,anon_123,2024-01-01T09:00:00Z,user1@example.com,free,mobile,NaN,NaN,NaN
1,track,user_001,NaN,2024-01-01T09:02:00Z,NaN,NaN,NaN,Signup Completed,email,NaN
2,track,user_001,NaN,2024-01-02T08:30:00Z,NaN,NaN,NaN,Login,NaN,NaN
3,track,user_001,NaN,2024-01-02T08:35:00Z,NaN,NaN,NaN,Feature Used,NaN,dashboard
4,track,NaN,anon_456,2024-01-02T10:00:00Z,NaN,NaN,NaN,Feature Used,NaN,pricing_page

In [6]:
df.columns.tolist()

['type',
 'userId',
 'anonymousId',
 'timestamp',
 'traits.email',
 'traits.plan',
 'context.device.type',
 'event',
 'properties.method',
 'properties.feature_name']

## Key Takeaways

Events are stored as JSON objects with nested fields.

identify events link anonymous activity to known users.

traits describe users; properties describe actions.